.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 30px;
}

.Login-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 30px;
}

.Login-input-redditName-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  font-size: 30px;
}

label {
  margin-right: 10px;
}

.App-username-input {
  font-size: 25px;
}

.App-password-input {
  font-size: 25px;
}

.App-username-submit {
  margin-top: 10px;
  font-size: 20px;
}